#include ".xterm_colors"

URxvt.font: xft:consolas:size=12

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

URxvt*scrollBar: false

URxvt.depth: 32
URxvt.background: [90]#000000

*background:     #222222
*foreground:     #e8e9ca
